*{
    font-family: sans-serif;
    background-color: rgb(221, 220, 220);
}
.container{
    /* border: 1px solid black; */
    display: flex;
    height: 100%;
}
.image{
    margin-left: 90px;
    margin-top: 90px;
}
.footer{
    margin-top: 170px;
}
a{
    padding: 3px;
    font-size: 14px;
    margin-left: 15px;
    text-decoration: none;
    color: rgb(119, 115, 115);
}
.ending{
    text-align: center;
    padding: 1px;
    font-size: 14px;
    margin-left: 15px;
    text-decoration: none;
    color: rgb(119, 115, 115);
}
.details{
    margin-top: 100px;
    margin-left: 140px;
    display: grid;
}
.mainheading{
    font-weight: 900;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sign-in{
    font-weight: 900;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}